<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/DiariosDeportivos/static/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/DiariosDeportivos/static/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/DiariosDeportivos/static/stars_style.css" media="screen">

    <title>
        {% block title %}{% endblock %}
    </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<body class = "body">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            </button>
            <a class="navbar-brand" href="/"><strong>Diarios Deportivos</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">

                <li {% if action == "/futbol" %} class="active" {% endif %}>
                    <a href="/futbol" onclick="waitingDialog.show();setTimeout(function () {waitingDialog.hide();}, 3000);">Fútbol <span class="sr-only">(current)</span></a>
                </li>
                <li {% if action == "/baloncesto" %} class="active" {% endif %}>
                    <a href="/baloncesto" onclick="waitingDialog.show();setTimeout(function () {waitingDialog.hide();}, 3000);">Baloncesto <span class="sr-only">(current)</span></a>
                </li>
                <li {% if action == "/formula1" %} class="active" {% endif %}>
                    <a href="/formula1" onclick="waitingDialog.show();setTimeout(function () {waitingDialog.hide();}, 3000);">Fórmula 1 <span class="sr-only">(current)</span></a>
                </li>
                <li {% if action == "/motociclismo" %} class="active" {% endif %}>
                    <a href="/motociclismo" onclick="waitingDialog.show();setTimeout(function () {waitingDialog.hide();}, 3000);">Motociclismo <span class="sr-only">(current)</span></a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-form navbar-left">
                <li class="active">
                    <form id="searchform" class="search-form" action="{% url search %}" method="get" accept-charset="utf-8">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="q" id="search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </li>
            </ul>
        
            <ul class="nav navbar-nav navbar-form navbar-right">
                {% if not user.is_authenticated %}
                    <li class="active">
                        <form  role="form" action="{% url login %}" method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" placeholder="Username" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control" name="password">
                            </div>
                            <button type="submit" class="btn btn-default" value="Login">Sign in</button>
                        </form>
                    </li>
                    <li class="active">
                        <form  action={% url registration %}>
                            <button class="btn btn-success">Registration</button>
                        </form>
                    </li>

                {% else %}
                    <li class="active">
                        <form  action={% url logout %}>
                            <button class="btn btn-default">Log out</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<div>
    <div class="pager panel-footer">
        <p>Acceso Inteligente a la Información <strong>2016</strong>.</p>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/DiariosDeportivos/static/js/bootstrap.min.js"></script>


</body>

<script type="text/javascript">
    /**
 * Module for displaying "Waiting for..." dialog using Bootstrap
 *
 * @author Eugene Maslovich <ehpc@em42.ru>
 */

var waitingDialog = waitingDialog || (function ($) {
    'use strict';

	// Creating modal dialog's DOM
	var $dialog = $(
		'<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
		'<div class="modal-dialog modal-m">' +
		'<div class="modal-content">' +
			'<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
			'<div class="modal-body">' +
				'<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
			'</div>' +
		'</div></div></div>');

	return {
		/**
		 * Opens our dialog
		 * @param message Custom message
		 * @param options Custom options:
		 * 				  options.dialogSize - bootstrap postfix for dialog size, e.g. "sm", "m";
		 * 				  options.progressType - bootstrap postfix for progress bar type, e.g. "success", "warning".
		 */
		show: function (message, options) {
			// Assigning defaults
			if (typeof options === 'undefined') {
				options = {};
			}
			if (typeof message === 'undefined') {
				message = 'Buscando nuevas noticias...';
			}
			var settings = $.extend({
				dialogSize: 'm',
				progressType: '',
				onHide: null // This callback runs after the dialog was hidden
			}, options);

			// Configuring dialog
			$dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
			$dialog.find('.progress-bar').attr('class', 'progress-bar');
			if (settings.progressType) {
				$dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
			}
			$dialog.find('h3').text(message);
			// Adding callbacks
			if (typeof settings.onHide === 'function') {
				$dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
					settings.onHide.call($dialog);
				});
			}
			// Opening dialog
			$dialog.modal();
		},
		/**
		 * Closes dialog
		 */
		hide: function () {
			$dialog.modal('hide');
		}
	};

})(jQuery);



</script>


</html>







